<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.formulario-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.formulario {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.formulario h3 {
    margin-top: 0;
    background-color: #ADD8E6;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.form-group {
    margin-bottom: 10px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input,
.formulario select,
.formulario button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario button {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ADD8E6;
    color: #000;
    border: 1px solid #ADD8E6;
}

.formulario button:hover {
    background-color: #87CEFA;
}

.result-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table-container {
    width: 48%;
}

.table-container table {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ADD8E6;
}

@media (max-width: 768px) {
    .formulario {
        width: 100%;
    }

    .result-container {
        flex-direction: column;
    }

    .table-container {
        width: 100%;
        margin-top: 20px;
    }
}

</style>

<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<section><br><br>

    <section class="container">
        <div class="formulario-container">
            <div class="formulario">
                <form id="form-content" action="/cotizacion" method="post">
                    <h3></h3>
                    <label for=""><Strong>Núm. cotización</Strong></label>
                    <input type="number" name="folio" id="folio" required value="<%=folio%>">
                    <label for=""><strong>Descripción</strong></label>
                    <input type="text" name="desc" id="desc" required value="<%=desc%>">
                    <label for=""><strong>Precio</strong></label>
                    <input type="number" name="valor" id="valor" required value="<%=valor%>">
                    <label for=""><strong>Porcentaje pago inicial</strong></label>
                    <input type="number" name="pinicial" id="pinicial" required value="<%=pinicial%>">
                    <label for=""><strong>Plazos</strong></label>
                    <select name="plazos" id="plazos" required value="<%=plazos%>">
                        <option value="12">12 Meses</option>
                        <option value="24">24 Meses</option>
                        <option value="36">36 Meses</option>
                        <option value="48">48 Meses</option>
                        <option value="60">60 Meses</option>
                    </select>
                    <button type="submit" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Calcular</strong></button>
                    <button type="button" onclick="limpiarFormulario()" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Limpiar</strong></button>
                </form>
            </div>
        </div>
        <%
            pinicial = valor * (pinicial/100);
            let totalFin = valor - pinicial;
            let pagoMensual = totalFin / plazos;     
        %>
        <div class="tablas-container">
            <div class="resumen">
                <center>
                    <table>
                        <tr>
                            <th>Núm. cotización</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Porcentaje pago inicial</th>
                            <th>Plazos</th>
                        </tr>
                        <tr>
                            <td><%= folio %></td>
                            <td><%= desc %></td>
                            <td><%= valor %></td>
                            <td><%= pinicial %></td>
                            <td><%= plazos %></td>
                        </tr>
                    </table>
                </center>
            </div> <br> <br> <br>
            <div class="total">
                <center>
                    <table>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td>Pago Inicial</td>
                            <td><%= pinicial.toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td>Total a Financiar</td>
                            <td><%= totalFin.toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td>Pago Mensual</td>
                            <td><%=pagoMensual.toFixed(2) %></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </section><br>

    <script>
        function limpiarFormulario() {
            var formulario = document.getElementById('form-content');
    
            var plazosSelect = document.getElementById('plazos');
            formulario.folio.value = '';
            formulario.desc.value = '';
            formulario.valor.value = '';
            formulario.pinicial.value = '';
    

            plazosSelect.value = '12';
            limpiarTabla('resumen');
            limpiarTabla('total');
        }
    
        function limpiarTabla(tablaId) {
            var tabla = document.querySelector('.' + tablaId + ' table');
            var filas = tabla.querySelectorAll('tr');
    
            filas.forEach(function(fila, index) {
                if (index !== 0) {
                    var celdas = fila.querySelectorAll('td');
                    if (tablaId === 'resumen') {
                        celdas.forEach(function(celda) {
                            celda.textContent = '';
                        });
                    } else if (tablaId === 'total') {
                        for (var i = 1; i < celdas.length; i++) {
                            celdas[i].textContent = '';
                        }
                    }
                }
            });
        }
    </script>

</section>

<%-include('partials/footer.ejs')%>